@*@model TrebovanjaNarudzbeApp.TrebovanjaNarudzbeApp.Web.ViewModels.RolaVM*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*@if (Model.Naziv == "Tim")
{
    <h1>sdgfhjsdgfisdjkoajk;vsd</h1>
}*@