@model List<TrebovanjaNarudzbe.Web.ViewModels.TrebovanjeViewModel>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Odobravnje trebovanja";
    ViewBag.Naslov = "Trebovanje > Odobravanje liste trebovanja";
}
@{

}

<div class="col-md-12 row">
    @foreach (var trebovanje in Model)
    {
        @Html.Partial("_OdobravanjeTrebovanjaPartial", trebovanje)
    }
    @if (Model.Count == 0)
    {
        <h1>Nemate trebovanja za odobravanje</h1>
    }
</div>

@* modal za akciju, loader *@
<div class="modal modal-backdrop fade" id="loader" tabindex="-1" role="dialog" aria-labelledby="loaderModal" aria-hidden="true">
    <div class="modal-dialog" role="document" style="top:22%">
        <div class="cssload-loader">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Skripte/OdobravanjeTrebovanja.js"></script>
}
