
@{
    ViewBag.Title = "Aktivne nabavke";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Naslov = "Skladište > Tabelarni prikaz aktivnih nabavki";
}

<style>
    .modal-dialog {
        max-width: 50%;
    }

    .modal {
        text-align: center;
    }

    tr:hover {
        background-color: aliceblue;
        cursor: pointer;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar float-right" role="toolbar">
                <div class="btn-group " role="group" aria-label="First group">
                    <a href="@Url.Action("AktivneNabavke", "Skladiste")" data-toggle="tooltip" data-placement="top" title="Prikaži listu" class="btn  btn-outline-primary">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </a>

                    <button type="button" class="btn  btn-outline-primary active" data-toggle="tooltip" data-placement="top" title="Tabelarni prikaz"><i class="fa fa-table" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table id="TabelarniPrikaz" class="display table-bordered table bg-white" style="width:100%">
                <thead>
                    <tr class=" text-white" style="background-color:#538ac5">
                        <th>Serijski broj</th>
                        <th>Šifra radnika</th>
                        <th>Ime i prezime radnika</th>
                        <th>Datum podnesenog zahtjeva</th>
                    </tr>
                </thead>


            </table>
        </div>
    </div>
</div>


<div id="myModal" class="modal-backdrop fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body"></div>
        </div>

    </div>
</div>

<div class="modal modal-backdrop fade" id="loader" tabindex="-1" role="dialog" aria-labelledby="loaderModal" aria-hidden="true">
    <div class="modal-dialog" role="document" style="top:22%">
        <div class="cssload-loader">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/DataTables/TabelarniPrikazAktivnihNabavki.js"></script>
}