
@*<div class="row margina float-right">
    <div class="legendaStatusa shadow-lg rounded">
        <h3 style="font-size: 16px;">Status kartice</h3>
        <hr class="my-1">
        <div class="container " style="padding-top:0px">
            <ul class=" list-inline">
                <li class="list-inline-item">
                    <span class="dot" style=" background-color:red"></span>
                </li>
                <li class="list-inline-item">
                    <p> Odbijeno </p>
                </li>
                <li class=" list-inline-item">
                    <span class="dot" style=" background-color:green"></span>
                </li>
                <li class=" list-inline-item">
                    <p> Odobreno </p>
                </li>
                <li class=" list-inline-item">
                    <span class="dot" style=" background-color:#daa226"></span>
                </li>
                <li class=" list-inline-item">
                    <p>  Na čekanju </p>
                </li>
                <li class=" list-inline-item">
                    <span class="dot" style=" background-color:#00537a"></span>
                </li>
                <li class=" list-inline-item">
                    <p> Preuzeto </p>
                </li>

            </ul>
        </div>


    </div>

</div>*@