@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Greška";
    ViewBag.Naslov = "Greška";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-2 shadow-lg" style="background-color:white; padding:45px;">
            <p class="text-danger errorMsg text-center  "> Greška! </p>
            <p class="errorMsg2 text-center"> Došlo je do greške u izvršavanju Vašeg zahtjeva. Molimo vratite se na <a class="errorMsg2 font-weight-bold" href="/Trebovanje/IstorijaTrebovanjaKorisnika">početnu stranicu</a>.</p>
        </div>
    </div>
</div>