@model IPagedList<TrebovanjaNarudzbe.Web.ViewModels.TrebovanjeViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Aktivna Trebovanja";
    ViewBag.Naslov = "Trebovanje > Prikaz svih aktivnih trebovanja";
}

@using X.PagedList.Mvc; @*//import this so we get our HTML Helper*@
@using X.PagedList; @*//import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@


@*Dodati paginaciju i filter*@
@if (Model.Count > 0)
{
<div class="row margina">
    <div class="col-md-6">

        <a class="btn btn-outline-primary btn-lg" data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="filter"><i class="fas fa-filter"></i>Prikaži filter</a>


    </div>
    <div class="col-md-6 ">
        <div class="btn-toolbar float-right" role="toolbar">
            <div class="btn-group " role="group" aria-label="First group">
                <button type="button" class="btn  btn-outline-primary active" data-toggle="tooltip" data-placement="top" title="Prikaži listu"><i class="fa fa-list" aria-hidden="true"></i></button>
                <a href="@Url.Action("TabelarniPrikazSvihAktivnihTrebovanja", "Marketing")" data-toggle="tooltip" data-placement="top" title="Tabelarni prikaz" class="btn  btn-outline-primary">
                    <i class="fa fa-table" aria-hidden="true"></i>
                </a>

            </div>
        </div>
    </div>

</div>
@Html.Partial("_Filter")
<div class="row">
    @foreach (var trebovanje in Model)
    {
        @*@Html.Action("TrebovanjaZaMarketing", "Trebovanje", new { trebovanje = trebovanje.TrebovanjeId });*@
        @Html.Partial("_TrebovanjeZaMarketingPartial", trebovanje)
        //zamijeniti
    }
</div>
<div class="row h-100 justify-content-center align-items-center p-5">
    @Html.PagedListPager((IPagedList)Model.Select(x => x.ListaArtikalaTrebovanja), page => Url.Action("FilterAktivnaTrebovanja", new { SortiranjePoImenu = ViewBag.SortiranjePoImenu, SortiranjeDatum = ViewBag.SortiranjeDatum, page }))
</div>
}
else
{

    <h2>Nemate aktivnih trebovanja za naručivanje!</h2>
}
@section scripts{
    <script src="~/Scripts/Skripte/MarketingPrikazSvihAktivnihTrebovanja.js"></script>
}